*{
    background-color: #404040;
    color: #03c03c;
    margin: 10px;
    padding: 0px;
    font-weight: bolder;
    
}

h1{
    text-align: left;
    font-style: italic;
}

h6{
    font-style: oblique;
}

#button{
    font-size: medium;
    padding: 5px;
    border-radius: 10px;
    background-color: #03c03c;
    color: black;
}

#intro{
    text-align:center; color: yellowgreen;
}

#intro,h1{
    text-align: center;
}

#greetingInput{
    text-align: center;
}